$phone: 750px;
$tablet: 800px;
$break-large: 1100px;
$green:#009341;
$yellow:#ffd250;

@import "header";
@import "story";
@import "menu";
@import "video";
@import "contact";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
html, body {
    // overflow-x: hidden;
    // background-color: aqua;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Oswald', sans-serif;
  }
  h1, h2, h3, h4, h5, p, button, input, optgroup, select, textarea{
    font-family: 'Oswald', sans-serif;
  }
*{
	box-sizing: border-box;
	;
}

.row{
    display: flex;
    flex-direction: row;
}


.pageWrapper {
  position: relative;
}


.legalInfo-div{
  width: 60%;
  margin: 0 auto;
  padding: 5% 0;
  min-height: 700px;
  @media screen and (max-width: 700px) {
    width: 80%;
  }
  
}

